<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="meida__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, labore
      porro iste harum perspiciatis deleniti quisquam ipsum vitae. Ea adipisci
      delectus eveniet beatae pariatur reiciendis. Earum amet rem odio minus?
    </p>
  </div>
</div>
